<% if @teacher.errors.any?%>
  <section class="errors">
    <ul>
      <% @teacher.errors.full_messages.each do |message|%>
        <li><%= message %> </li>
      <% end %>
    <ul>
  </section>
<% end %>
