<h1>Stars for Teachers </h1>


<% @posts.each do |post|  %>

  <ul>
    <h2>
      <li>
        <p>
          Teacher: <%= post.teacher_id %> <br>
        </p>
        <p>
          Student: <%= post.student_id %> <br>
        </p>
        <p>
        Comment: <%= post.comment %> 
        </p>
      </li>
      <br>
    </h2>
  </ul>
    
<% end  %>
